.container-contact100
  .wrap-contact100
  = form_tag root_path, class:'locale' do
    = select_tag(:change_locale, options_for_select([["English",:en],["Español",:es]], I18n.locale ) , onchange: "this.form.submit()")
  .wrap-contact100
    = form_with(url: contacts_path(@locale), method: "post", class:"contact100-form validate-form") do
      - if notice
        .alert.alert.alert-primary.success_message
          #{t '.success_message'}
      - if alert
        .alert.alert.alert-danger.success_message
          #{t '.error_message'}
      %span.contact100-form-title
        = t '.send_message_heading'
      %label.label-input100{:for => "first-name"}
        = t '.name_field_text'
        *
      .wrap-input100.rs1-wrap-input100.validate-input{"data-validate" => "#{t '.first_name_error_text'}"}
        %input#first-name.input100{:name => "first_name", :placeholder => "#{t '.first_name_placeholder'}", :type => "text"}/
        %span.focus-input100
      .wrap-input100.rs2-wrap-input100.validate-input{"data-validate" => "#{t '.last_name_error_text'}"}
        %input.input100{:name => "last_name", :placeholder => "#{t '.last_name_placeholder'}", :type => "text"}/
        %span.focus-input100
      %label.label-input100{:for => "email"}
        = t '.email_field_text'
        *
      .wrap-input100.validate-input{"data-validate" => "#{t '.email_error_text'}"}
        %input#email.input100{:name => "email", :placeholder => "#{t '.email_placeholder'}", :type => "text"}/
        %span.focus-input100
      %label.label-input100{:for => "phone"}= t '.phone_field_text'
      .wrap-input100.validate-input{"data-validate" => "#{t '.phone_error_text'}"}
        %input#phone.input100{:name => "phone_number", :placeholder => "#{t '.phone_placeholder'}", :type => "text"}/
        %span.focus-input100
      %label.label-input100{:for => "message"}
        = t '.message_field_text'
        *
      .wrap-input100.validate-input{"data-validate" => "#{t '.message_error_text'}"}
        %textarea#message.input100{:name => "message", :placeholder => "#{t '.message_placeholder'}"}
        %span.focus-input100
      #submit_button.container-contact100-form-btn
        %button.contact100-form-btn
          = t '.submit_text'
    .contact100-more.flex-col-c-m{:style => "background-image: url('assets/bg-01.jpg');"}
      .flex-w.size1.p-b-47
        .txt1.p-r-25
          %span.lnr.lnr-map-marker
        .flex-col.size2
          %span.txt1.p-b-20
            = t '.address_text'
          %span.txt2
            Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
      .dis-flex.size1.p-b-47
        .txt1.p-r-25
          %span.lnr.lnr-phone-handset
        .flex-col.size2
          %span.txt1.p-b-20
            = t '.lets_talk_text'
          %span.txt3
            +1 800 1236879
      .dis-flex.size1.p-b-47
        .txt1.p-r-25
          %span.lnr.lnr-envelope
        .flex-col.size2
          %span.txt1.p-b-20
            = t '.general_support_text'
          %span.txt3
            contact@example.com

= javascript_include_tag "main"
= javascript_include_tag "vendor/jquery/jquery-3.2.1.min.js"
= javascript_include_tag "vendor/animsition/js/animsition.min.js"
= javascript_include_tag "vendor/bootstrap/js/popper.js"
= javascript_include_tag "vendor/bootstrap/js/bootstrap.min.js"
= javascript_include_tag "vendor/select2/select2.min.js"
= javascript_include_tag "vendor/daterangepicker/moment.min.js"
= javascript_include_tag "vendor/daterangepicker/daterangepicker.js"
= javascript_include_tag "vendor/countdowntime/countdowntime.js"
