<html>
  <head>
  </head>
  <body>
    <h1>Details of <%= @contact.first_name%> <%= @contact.last_name%> submitted, </h1>
    <hr/>
      <p>Email: <%= @contact.email %></p>
      <p>Message: <%= sanitize @contact.message %></p>
      <p>Phone Number: <%= @contact.phone_number.presence || '-' %></p>
  </body>
</html>
