!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ContactApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'main'
    = stylesheet_link_tag    'util'
    
    = stylesheet_link_tag "vendor/bootstrap/css/bootstrap.min.css"
    = stylesheet_link_tag "vendor/animate/animate.css"
    = stylesheet_link_tag "vendor/css-hamburgers/hamburgers.min.css"
    = stylesheet_link_tag "vendor/animsition/css/animsition.min.css"
    = stylesheet_link_tag "vendor/select2/select2.min.css"
    = stylesheet_link_tag "vendor/daterangepicker/daterangepicker.css"
  %body
    = yield
